/* LabelingInterface.css */

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Prevent scrolling */
  background-color: #f0f2f5;

}

.labeling-interface {
  margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    background-color: #f0f2f5;
    min-height: 100vh;
    transition: margin-left 0.3s ease; /* Smooth transition for shifting */
    flex-direction: row;
  }

  .labeling-interface.sidebar-open {
    margin-left: 215px;/* Shift entire interface to the right */
  }

  .patient-list-sidebar,
.patient-info-sidebar,
.image-labels-sidebar {
    max-height: calc(100vh - 90px); /* Full height minus the top bar */
    overflow-y: auto; /* Enable scrolling if content overflows */
}

  .label-top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0px;
    left: 0;
    right: 20px; /* Changed from 50px to 15px */
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 0;
    width: calc(100% - 40px);
    z-index: 1000;
  }

 .container{
  display: flex;
 }

  .sidebar-toggle-button {
    background-color: #3f51b5;
    margin-left: 30px;
    border: none;
    cursor: pointer;
    padding: 5px;
    transition: transform 0.2s; /* Optional: Add transition effect */
  }
  
  .sidebar-toggle-button:hover {
    transform: scale(1.1); /* Optional: Scale up on hover for effect */
  }
  
  .sidebar-toggle-button svg {
    fill: #ffffff; /* Change color of the icon */
    width: 24px; /* Adjust icon size */
    height: 24px;
  }
  
  /* Go to Dashboard button on top left */
  .dashboard-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    right: 100px;
    background-color: #3f51b5;
  }
  
  .dashboard-button:hover {
    background-color: #303f9f;
  }
  
    /* Save button on top right */
    .save-button {
      margin-right: 30px;
      margin-left: 10px;
      background-color:#303f9f;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .dashboard-button img, .save-button img{
      margin-right: 3px;
    }
    
    .save-button:hover {
      background-color: #388e3c;
    }

  /* Sidebar for Patient List */
  .patient-list-sidebar {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow-y: auto;
    width: 200px; /* Sidebar width */
    position: fixed;
    left: -200px; /* Hide sidebar initially */
    height: 100vh;
    transition: transform 0.3s ease;
    margin-right: 10px;
    overflow: visible;
  }
  .labeling-interface.sidebar-open .patient-list-sidebar {
    transform: translateX(220px); /* Slide sidebar into view */
  }
  
  .patient-list-sidebar h3 {
    font-size: 1.2rem;
    color: #3f51b5;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .patient-list-sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .patient-list-sidebar li {
    padding: 12px;
    margin-bottom: 8px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s, box-shadow 0.3s;
    text-align: center;
    background-color: #e0e0e0;
  }
  
  .patient-list-sidebar li:hover {
    background-color: #bdbdbd;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Sidebar for Patient Info */
  .patient-info-sidebar {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow-y: auto;
    width: 300px;
  }
  
  .patient-info-sidebar h3 {
    font-size: 1.2rem;
    color: #3f51b5;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .patient-info-sidebar p {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 10px;
  }
  
  /* Main Image Display */
  .image-display {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    min-width: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: calc(100vh - 90px);
    overflow: hidden;
  }
  
  .image-display img {
    max-width: 100%; /* Utilize more space */
    max-height: 80vh; /* Increase height for larger images */
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  .image-display button {
    background-color: #3f51b5;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 0.9rem;
  }
  
  .image-display button:hover {
    background-color: #303f9f;
  }
  
  /* Sidebar for Image Labels */
  .image-labels-sidebar {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow-y: auto;
    position: relative;
    width: 320px;
  }
  
  .image-labels-sidebar h3 {
    font-size: 1.2rem;
    color: #3f51b5;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .image-labels-sidebar label {
    display: block;
    margin-bottom: 20px;
    font-size: 0.9rem;
    color: #555;
  }
  
  .image-labels-sidebar select,
  .image-labels-sidebar input[type="text"] {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.2s;
  }
  
  .image-labels-sidebar select:focus,
  .image-labels-sidebar input[type="text"]:focus {
    border-color: #3f51b5;
    outline: none;
  }
  
  /* Patient Info Labels */
  .patient-info-sidebar label {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    font-size: 0.9rem;
    color: #555;
  }
  
  .patient-info-sidebar input[type="text"],
  .patient-info-sidebar input[type="number"],
  .patient-info-sidebar select {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 5px;
    transition: border-color 0.2s;
  }
  
  .patient-info-sidebar input[type="text"]:focus,
  .patient-info-sidebar input[type="number"]:focus,
  .patient-info-sidebar select:focus {
    border-color: #3f51b5;
    outline: none;
  }
  
  .search-sort-container {
    display: flex;
    align-items: center; /* Center items vertically */
    margin-bottom: 10px; /* Space between search/sort and patient list */
  }
  .sortbutton{
    padding: 0;
    margin-left: 5px;
    background-color: white;
    transition: transform 0.2s;
  }
  .sortbutton:hover{
    transform:scale(1.1);
    background-color: white;
  }
  .sort-container {
    position: relative;
    display: inline-block;
  }
  
  .sort-options {
    position: absolute;
    top: 100%; /* Position below the sort button */
    left: 0;
    display: block;
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    z-index: 100; /* Ensure it's above other elements */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .sort-options button {
    display: block;
    margin: 5px 0;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color:#3f51b5;
    color: white;
    cursor: pointer;
  }
  
  .sort-options button:hover {
    background-color:#303f9f /* Darker shade on hover */
  }
  

  /* Image Display */

  /* ImageDisplay.css */

.image-display {
  position: relative; /* To position child elements absolutely */
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.image-display img {
  max-width: 100%;
  max-height: 80vh;
  border-radius: 8px;
  margin-top: 20px;
}

/* Dashboard and Save buttons */
.dashboard-button, .save-button {
  top: 20px;
  padding: 10px 15px;
  font-size: 0.9rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.image-navigation{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.image-navigation button{
padding: 0;
background-color: #ffffff;
transition: transfrom 0.3s;
}
.image-navigation button:hover{
background-color: #ffffff;
transform: scale(1.1);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); /* Dark overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  max-width: 95vw; /* Increase width for larger view */
  max-height: 95vh; /* Increase height for larger view */
  overflow: hidden; /* Ensure no overflow */
}

.modal-content img {
  width: 100%; /* Image takes full width of the modal content */
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px;
}
