:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;
  color: #333; /* Set text to a more neutral color for better readability */
  background-color: #f4f6f8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Primary colors */
  --primary-color: #007bff; /* Main accent color */
  --primary-color-hover: #0056b3;
  --danger-color: #dc3545;
  --danger-color-hover: #c82333;
  --sync-color: #28a745;
  --sync-color-hover: #218838;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: var(--primary-color-hover);
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--color);
}

h1 {
  font-size: 2.8em;
  line-height: 1.1;
  text-align: center;
  color: #444;
}

h2 {
  font-size: 1.8em;
  color: #444;
  margin-bottom: 20px;
  text-align: center;
}

button {
  border-radius: 5px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

button:hover {
  background-color: var(--primary-color-hover);
}

button:focus,
button:focus-visible {
  outline: 3px auto -webkit-focus-ring-color;
}

.error {
  color: var(--danger-color);
  font-size: 14px;
  text-align: center;
}

/* Sync button style */
.sync-button {
  background-color: var(--sync-color);
}

.sync-button:hover {
  background-color: var(--sync-color-hover);
}

/* Dark mode adjustments */
@media (prefers-color-scheme: light) {
  :root {
    color: #333;
    background-color: #ffffff;
  }

  a {
    color: var(--primary-color);
  }

  a:hover {
    color: var(--primary-color-hover);
  }

  button {
    background-color: #e9ecef;
    color: #333;
  }
}
